.large-3.columns
  = image_tag @user.profile_pic
  %hr
  - if signed_in?
    %section
      = render 'users/stats'

  %hr
  %h4 New Workout:
  = form_for @completion, html: {class: "custom"} do |f|
    .field
      = f.label :milliseconds
      = f.number_field :milliseconds
    .field
      = f.label :wod_id
      = f.collection_select :wod_id, Wod.all.collect, :id, :name, include_blank: false
    .actions
      = f.submit "Save", {class: 'button small expand'}

  / move this into a partial
  /(supposed to be no logic in view)
.large-7.columns
  - @user.followed_user_posts.each do |followed_user_post|
    - followed_user_post.each do |completion|
      .timeline-block.panel{ 'data-completion-id' => completion.id}
        - @completion = completion
        = render 'completions/show'

.large-2.columns
  %p Following:
  - @user.followed_users.each do |followed_user|
    = link_to(followed_user) do
      = image_tag followed_user.profile_pic
      %p= followed_user.name
