.large-3.columns
  - if @user.profile_pic?
    = link_to image_tag(@user.get_image, {class: 'desktop-only'}), current_user
  - else
    = form_for @user, html: {class: "add-pic"}, remote: true do |f|
      .field
        = f.label "Add a picture!"
        = f.file_field :profile_pic
        = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
      .actions
      = f.submit "Save picture", {class: 'button small expand'}
  %hr
  - if signed_in?
    %section
      = render 'users/stats'

  %h4 New Workout:
  = form_for @completion, html: {class: "custom"}, remote: true do |f|
    .field
      = f.label :minutes
      = f.text_field :minutes
    .field
      = f.label :seconds
      = f.text_field :seconds
    .field
      = f.label :wod_id
      = f.collection_select :wod_id, Wod.all.collect, :id, :name, include_blank: false
    .actions
      = f.submit "Save", {class: 'button small expand'}

.large-7.columns#completions
  = render 'completions/completions'


.large-2.columns
  %p Following:
  - @user.followed_user_list.each do |followed_user|
    = link_to(followed_user) do
      = image_tag(followed_user.get_image, {class: 'desktop-only'})
      %p= followed_user.name
