
.row
  .large-3.columns
    =image_tag @user.profile_pic
    %h3= @user.name
    %hr/
    %h4 New Workout:
    = form_for(@completion) do |f|
      .field
        = f.label :time
        = f.text_field :time
      .actions
        = f.submit "Save"

  .large-9.columns
    - @user.completions.each do |completion|
      .timeline-block
        .large-3.small-3.columns
          =image_tag @user.profile_pic
        .large-9.small-9.columns
          = "#{completion.user.name} completed #{completion.wod.name} in #{completion.time}."
          .timeline-details= completion.created_at.asctime
          %input{:type => "text"}
          %a{:href => "#"} High five!
          - completion
          %span= "#{User.vote_count(completion.votes, 'High-Five')} people high fived you!"
          %br/
          %a{:href => "#"} Shame
          %span= "#{User.vote_count(completion.votes, 'Shame')} people shamed you!"
          %hr/
          .timeline-comments
            - completion.comments.each do |comment|
              .timeline-comment
                .large-2.small-2.columns
                  =image_tag comment.user.profile_pic
                .large-10.small-10.columns
                  .timeline-comment= comment.text
