.large-3.columns
  .profile-pic.desktop-only
    = link_to image_tag(@user.get_image, {class: 'desktop-only'}), root_path
  %h3.centering= @user.name
  %hr
  - if signed_in?
    .centering
      %section
        = render 'stats'
      %section
        = render 'follow_form'


.large-7.columns
  - @user.completions.each do |completion|
    = render 'completions/completion', :completion => completion

.large-2.columns
  = @user.name
  is following:
  %br
  - if @user.followed_user_list
    %br
    - @user.followed_user_list.each do |user|
      =link_to image_tag(user.get_image, {class: 'desktop-only'}), user
      .centered
        %p= link_to user.name, user
  -else
    %br
    = 'nobody :('
