- if defined? completion
  - @completion = completion
.timeline-block.panel
  .large-3.small-3.columns.no-padding= link_to image_tag(@completion.user.profile_pic, :class => "user-img"), @completion.user
  .large-9.small-9.columns
    = "#{@completion.user.name} completed #{Wod.find(@completion.wod_id).name} in #{@completion.time}"
    .timeline-details
      = @completion.created_at.asctime
    = form_for([@completion, Comment.new], remote: true) do |f|
      = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
      = f.text_field :text, :class => "text-input"
    = render 'completions/votes_form'
    %hr/
    .timeline-comments
      = render 'comments/show', completion: @completion
